{% extends "base.html" %}

{% block head_title %} About us {% endblock %}

{% block content %}
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dignissimos iure iusto labore minus neque qui quo repellendus sit! A amet animi consectetur cupiditate ea eaque eos illum, magnam omnis quos vel vero? Corporis dicta, eos eveniet iusto odio sunt? Aliquam asperiores beatae dolores dolorum, est fuga illum ipsam ipsum modi officia optio ratione sequi sit ullam velit veniam vitae voluptatem? Accusantium esse id in incidunt ipsum molestiae possimus recusandae. Aliquid delectus dolorem error labore maiores optio perferendis soluta. Eligendi iusto mollitia nostrum obcaecati vel! Amet architecto harum ipsa laudantium minus possimus quod repellat soluta voluptates voluptatum. Atque, commodi nisi.</p>
{% endblock %}